.intro{
    padding-top: 10px;
}

.center{
    text-align: center;
}

#guide{
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    
}
#instructions{
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    
}
#result{
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    background-color: red;
    margin-bottom: 3mm;
    font-weight: bold;
    font-size: large;
}

body{
    background-color: rgb(241, 234, 224);
}

.grid{
    width: 412px;
    height: 412px;
    display: flex;
    flex-wrap: wrap;
    background-color: goldenrod;
    padding: 0px;
    margin: 0 auto;
    border: 5px solid goldenrod;
}

.grid div { 
    width:90px;
    height: 90px;
    background-color: antiquewhite;
    font-size: 15px;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    margin:5px;
}

.step-container{
    width:50px;
    background-color:burlywood;
    margin: 0 auto;
    margin-bottom: 3mm;
}

.step-title{
    text-align: center;
}
#step{
    text-align: center;
}