.timerTitle{
    text-align: center;
    padding: 10px;
}

.timerButton{
    text-align: center;
}

body{
    background-color: rgb(241, 234, 224);
}

iframe {
    position: relative;    
        top: 25%;
        left: 13%;
        width: 75%;
        height: 200%;
    }